<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item color="dark">
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="credential.email" type="email"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Contraseña</ion-label>
      <ion-input [(ngModel)]="credential.password" type="password"></ion-input>
    </ion-item>
    <ion-item color="dark" *ngIf="!isLoggingIn">
      <ion-label>Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="credential.passwordConfirm" type="password"></ion-input>
    </ion-item>
    <ion-item color="dark" *ngIf="!isLoggingIn">
      <ion-label>Nombre Completo</ion-label>
      <ion-input [(ngModel)]="credential.fullName" type="text"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <p *ngIf="!isLoggingIn">
        Ya tienes cuenta? <a (click)="toggleLogin()">Iniciar Sesión</a>
      </p>
      <p *ngIf="isLoggingIn">
        Aun no tienes cuenta? <a (click)="toggleLogin()">Crear Cuenta</a>
      </p>
      <ion-button (click)="login()" class="ion-activable" expand="block">Ingresar</ion-button>
    </div>
  </ion-list>
</ion-content>
